.home-page {
  width: 100%;
  min-height: 100vh;  
  display: flex;

  main {
    display: flex;
    justify-content: center;
    width: 100%;

    .content {
      margin: 32px 54px 60px 72px;
      max-width: 860px;
      width: 100%;

      .header {
        margin-bottom: 136px;
      }

      .time-menu {
        width: 100%;
        padding-bottom: 13px;

        display: flex;
        align-items: center;
        flex-direction: row;

        border-bottom: 1px solid;
      }

      .time-menu button {
        white-space: nowrap;
        padding: 0 15.5px;

        color: #667e87;
        font-size: 16px;
        line-height: 15px;
        text-align: center;

        background: transparent;
        border: 0;
        cursor: pointer;

        &.currentTab {
          position: relative;
          color: #263238;

          &::before {
            content: "";
            width: 100%;
            height: 4px;
            background: #263238;
            border-radius: 2px;
            position: absolute;
            bottom: -15px;
            left: 0;
          }
        }
      }

      .container-cards {
        width: 100%;
        margin-top: 41px;

        display: flex;
        align-items: flex-start;
        justify-content: center;

        .card {
          width: 50%;

          display: flex;
          align-items: center;
          flex-direction: column;

          background: #ffffff;
          box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1);
          border-radius: 16px;

          &:first-of-type {
            margin-right: 40px;
          }

          .header-box {
            width: 100%;
            height: 80px;           

            background: #374952;
            border-radius: 16px 16px 0px 0px;

            display: flex;
            align-items: center;
            justify-content: center;

            font-weight: 600;
            font-size: 20px;
            line-height: 15px;
            color: #ffffff;

            img {
              margin-right: 19px;
            }
          }

          .content-card {
            padding: 40px 72px;
            width: 100%;

            > div {
              padding: 18px 24px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 16px;

              &:last-of-type{
                margin-bottom: 0;
              }

              span {
                display: inline-block;                               
                font-weight: 600;
                
                &:last-child {                 
                  font-size: 36px;
                  line-height: 44px;
                }
              }
            }
            .green-box {
              border: 2px solid #4ec06e;
              border-radius: 8px;
              color: #4ec06e;
            }

            .red-box {
              border: 2px solid #ff4d4d;
              border-radius: 8px;
              color: #ff4d4d;
            }

            .blue-box {
              border: 2px solid #5197b5;
              border-radius: 8px;
              color: #5197b5;
            }
          }
        }
      }

      // .content {
      //   margin-bottom: 16px;
      //   padding: 18px 24px;

      //   display: flex;
      //   align-items: center;
      //   justify-content: space-between;

      //   background: #ffffff;
      //   border-radius: 8px;
      //   box-sizing: border-box;

      //   font-weight: 600;
      //   font-size: 14px;
      //   line-height: 20px;
      //   letter-spacing: 0.005em;
      // }
    }
  }
}
